<hr />
<h1 class="content_page_title">Search Results</h1>
<hr class="content_page_hr"/>
<% if @results.each do |key| %>
    <% post = Post.find(key['id']) %>
    <div class="post">
        <h1><%= link_to post.title, post_path(post) %></h1>
        <small><%= post.created_at.strftime("%d / %b / %Y") %></small>
        <p><%= post.body %></p>
        <p><%= link_to post.category.name, category_path(:id => post.category.id) %></p>
    </div>
<% end.empty? %>
    <p class="content_page_searchresult">No results found</p>
<% end %>
<%= link_to "Back", posts_path %>