<p>
  <h2><%= @category.name %></h2>  
</p>
<hr />
<h3>Posts on this category</h3>
<hr />
<p>
<% if @category.posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <p><%= post.body %></p>
<% end.empty? %>
  <p>Sorry, there are no posts in this category</p>
<% end %>
</p>

<%= link_to 'Back', categories_path %>
#<p id="notice"><%= notice %></p>